
.form-field {
    display: block;
    margin-bottom: 20px;
}

.form-label {
    display: block;
    margin-bottom: 4px;
}

.form-input {
    width: 300px;
    border-color: black;
    padding: 8px;
    border-radius: 3px;
    border-width: 3px;
    font-family: sans-serif;
    font-size: 16px;
    outline: none;
}

.form-input:optional {
    border-color: blue;
}

.form-input:required {
    border-color: red;
}